@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.button {
  background-color: #c9ecec;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.shape-button {
  background-color: #ffbf69;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

header {
  width: 100%;
  height: 100%;
  background-image: url(../images/background.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: fixed;
}

.topnav {
  overflow: hidden;
  background-color: #ffbf69;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #ffbf69;
}
.topnav a.active:hover {
  background-color: #ddd;
  color: #ffbf69;
}

.topnav a.active {
  background-color: #ffbf69;
  color: black;
}

.topnav .icon {
  display: none;
}

.jumbotron {
  padding: 40px;
  text-align: left;
  color: white;
  font-size: 20px;
}

.upper {
  padding: 40px;
  padding-right: 80px;
  padding-left: 80px;
  text-align: center;
  font-size: 15px;
}

.middle {
  padding: 40px;
  text-align: center;
  font-size: 15px;
  background-color: #c9ecec;
}

.lower {
  padding: 80px;
  text-align: left;
  font-size: 15px;
  background-image: url(../images/bg-grid.png);
    background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

.left {
  float: left;
  padding: 0;
  width: 60%;
}

.right {
  float: left;
  padding: 0;
  width: 40%;
  display: flex;
  justify-content: end;
}

h1 {
  font-family: 'Montserrat Black', sans-serif;
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 0;
}

h2 {
  font-family: 'Montserrat Black', sans-serif;
/*   font-size: 100px; */
  font-weight: 900;
/*   margin-bottom: 0; */
}

.column {
  float: left;
  width: 33.33%;
  padding: 0px;
  height: 300px;
  padding-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.featured-image {
  width: auto;
  max-height: 200px;
  object-position: center;
}

.featured-image-bottom {
  width: 90%;
  height: auto;
  object-position: center;
}

footer {
    padding: 20px;
    color: white;
    background-color: black;
    text-align: center;
    font-weight: bold;
 }

footer a {
  color: white;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.footer-column {
  float: left;
  width: 20%;
  padding: 0;
  height: 25px;
}

.footer-row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

@media screen and (max-width: 600px) {
  header {
    background-size: 600px auto;
    height: 50%;
  }
}
@media screen and (max-width: 800px) {
  
  .column {
    padding-top: 20px;
    width: 100%;
  }
   .left {
    width: 100%;
    text-align: center;
  }
   .right {
    width: 100%;
    display: flex;
     justify-content: center;
  }
  .footer-column {
    width: 100%;
    display: flex;
     justify-content: center;
  }
  .jumbotron {
  padding: 0;
  text-align: center;
  color: white;
  font-size: 10px;
}
  h1 {
    font-size: 85px;
  }
   .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}